* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}
:root {
  --heading-color: #d4eaff;
  --paragraph-color: #7d96b0;
  --hover-color: #7d96b06b;
  --btn-color: #5a95cc;
  --bg-color: #2f3032;
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#top-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 30px;
}
#logo h1 {
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: 400;
}
.outline-btn {
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  padding: 10px 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--paragraph-color);
  font-size: 1.5rem;
  margin: 0 10px;
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px 10px;
}
nav a:hover {
  color: var(--heading-color);
}
.outline-btn:hover {
  background: var(--hover-color);
}
/* content section */

#content {
  width: 100vw;
  padding: 5% 8%;
}

/* content section */

/* Intro section */

#intro-section {
  /* border: 2px solid black; */
  width: 100%;
  padding: 2% 0;
}
#intro-section h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--btn-color);
  margin-bottom: 20px;
}
#intro-section h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--heading-color);
  line-height: 60px;
}
#intro-section h1 span {
  color: var(--paragraph-color);
}
#intro-section p {
  font-size: 16px;
  font-weight: 300;
  color: var(--paragraph-color);
  width: 50%;
  margin: 20px 0 40px 0;
  line-height: 25px;
}

/* Intro section */

/* about section */

#about-section {
  /* border: 2px solid black; */
  width: 100%;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.about-title {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}
.about-title i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--btn-color);
}
.about-title h2 {
  font-size: 25px;
  font-weight: 500;
  color: var(--heading-color);
}
.left-about p {
  font-size: 16px;
  font-weight: 300;
  color: var(--paragraph-color);
  width: 50%;
  margin: 30px 0 0 0;
  line-height: 25px;
}
#ability {
  margin: 30px 0 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph-color);
}
.row {
  /* border: 2px solid black; */
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.row .skills {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--heading-color);
  width: 50%;
  line-height: 25px;
}
.row .skills i {
  margin-right: 30px;
  font-size: 30px;
  font-weight: 300;
}
/* about section */

/* work section */
#work-section {
  width: 100%;
  /* border: 2px solid black; */
  margin-top: 5%;
  padding: 2% 0;
}
#work-section h2 {
  font-size: 25px;
  font-weight: 500;
  color: var(--heading-color);
}
#work-section h2 i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--btn-color);
}

.work-row {
  /* border: 2px solid beige; */
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  gap: 30px;
}
.work-row .card {
  padding: 2%;
  width: 40%;
  /* border: 2px solid red; */
  border-bottom: 5px solid var(--hover-color);
  border-radius: 2%;
}
.work-row .card p {
  font-size: 16px;
  font-weight: 300;
  color: var(--paragraph-color);
  margin: 0 0 30px 0;
  line-height: 25px;
}
.work-row .card h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--hover-color);
  opacity: 30%;
  line-height: 60px;
  margin-bottom: 20px;
}
.work-row .card .work-btn {
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  padding: 10px 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.work-row .card .work-btn:hover {
  background-color: var(--hover-color);
}
/* work section */

/* contact section */

#contact-section {
  /* border: 2px solid black; */
  width: 100%;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.contact-title {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}
.contact-title i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--btn-color);
}
.contact-title h2 {
  font-size: 25px;
  font-weight: 500;
  color: var(--heading-color);
}
.left-contact p {
  font-size: 16px;
  font-weight: 300;
  color: var(--paragraph-color);
  width: 50%;
  margin: 30px 0 0 0;
  line-height: 25px;
}
.left-contact .social-media {
  width: 50%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
}
.left-contact .social-media i {
  font-size: 30px;
  cursor: pointer;
  color: var(--btn-color);
  transition: all 0.3s;
}
.left-contact .social-media i:hover {
  color: var(--heading-color);
}
/* contact section */

/* bottom section */
#bottom-section {
  width: 100%;
  /* border: 2px solid white; */
}
#bottom-section .details {
  width: 90%;
  /* border: 2px solid white; */
  padding: 20px;
  display: flex;
  margin-left: 5%;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--hover-color);
}
.details a {
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.details a:hover {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
}
.details p {
  font-size: 16px;
  color: var(--hover-color);
  font-weight: 500;
}
/* bottom section */

/* media queries */

/* breakpoint max-width: 600px */

@media screen and (max-width: 600px) {
  .navigation-bar {
    display: none;
  }

  /* intro-section */
  #intro-section h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 40px;
  }
  #intro-section p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 20px 0 40px 0;
    line-height: 25px;
  }
  /* intro-section */

  /* about section */
  .about-title i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .about-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .right-about img {
    display: none;
  }
  .left-about p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 20px 0 0 0;
    line-height: 25px;
  }
  .row {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  /* about section */

  /* work section */
  #work-section h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  #work-section h2 i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }

  .work-row {
    /* border: 2px solid beige; */
    margin: 30px 0 20px 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    /* gap: 30px; */
  }
  .work-row .card {
    padding: 5%;
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: 5px solid var(--hover-color);
    border-radius: 2%;
  }
  .work-row .card h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--hover-color);
    opacity: 30%;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .work-row .card .work-btn {
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  /* work section */

  /* contact section */
  .right-contact {
    display: none;
  }
  .contact-title i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .contact-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .left-contact p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 30px 0 0 0;
    line-height: 25px;
  }
  /* contact section */

  /* bottom section */
  .details p {
    font-size: 12px;
    color: var(--hover-color);
    font-weight: 500;
  }
  /* bottom section */
}

/* breakpoint max-width: 600px */

/* breakpoint min-width-600px */
@media screen and (min-width: 600px) {
  .navigation-bar {
    display: none;
  }

  /* intro-section */
  #intro-section h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 40px;
  }
  #intro-section p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 20px 0 40px 0;
    line-height: 25px;
  }
  /* intro-section */

  /* about section */
  .about-title i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .about-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .right-about img {
    display: none;
  }
  .left-about p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 20px 0 0 0;
    line-height: 25px;
  }
  .row {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  /* about section */

  /* work section */
  #work-section h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  #work-section h2 i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }

  .work-row {
    /* border: 2px solid beige; */
    margin: 30px 0 20px 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    /* gap: 30px; */
  }
  .work-row .card {
    padding: 5%;
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: 5px solid var(--hover-color);
    border-radius: 2%;
  }
  .work-row .card h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--hover-color);
    opacity: 30%;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .work-row .card .work-btn {
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  /* work section */

  /* contact section */
  .right-contact {
    display: none;
  }
  .contact-title i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .contact-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .left-contact p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 30px 0 0 0;
    line-height: 25px;
  }
  /* contact section */
}
/* breakpoint min-width-600px */

/* breakpoints min-width-768px */
@media screen and (min-width: 768px) {
  .navigation-bar {
    display: none;
  }

  /* about section */
  .about-title i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .about-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .right-about img {
    display: flex;
    width: 250px;
  }
  .left-about p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 100%;
    margin: 20px 0 0 0;
    line-height: 25px;
  }
  .row {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  /* about section */

  /* work section */
  #work-section h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  #work-section h2 i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }

  .work-row {
    /* border: 2px solid beige; */
    margin: 30px 0 20px 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    /* gap: 30px; */
  }
  .work-row .card {
    padding: 5%;
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: 5px solid var(--hover-color);
    border-radius: 2%;
  }
  .work-row .card h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--hover-color);
    opacity: 30%;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .work-row .card .work-btn {
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  /* work section */

  /* contact section */
  .right-contact {
    display: flex;
  }
  .right-contact img {
    width: 200px;
  }
  .contact-title i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .contact-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .left-contact p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 80%;
    margin: 30px 0 0 0;
    line-height: 25px;
  }
  /* contact section */
}
/* breakpoints min-width-768px */

/* breakpoints min-width-992px */
@media screen and (min-width: 992px) {
  .navigation-bar {
    display: flex;
  }

  /* work section */
  #work-section h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
  }
  #work-section h2 i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--btn-color);
  }

  .work-row {
    /* border: 2px solid beige; */
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    /* gap: 30px; */
  }
  .work-row .card {
    padding: 2%;
    width: 50%;
    /* border: 2px solid red; */
    border-bottom: 5px solid var(--hover-color);
    border-radius: 2%;
  }
  .work-row .card h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--hover-color);
    opacity: 30%;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .work-row .card .work-btn {
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  /* work section */

  /* contact section */
  .right-contact img {
    width: 300px;
  }
  /* contact section */
}
/* breakpoints min-width-992px */

/* breakpoints min-width-1200px */
@media screen and (min-width: 1200px) {
  .navigation-bar {
    display: flex;
  }

  /* intro-section */
  #intro-section h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 60px;
  }
  #intro-section p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 50%;
    margin: 20px 0 40px 0;
    line-height: 25px;
  }
  /* intro-section */

  /* about section */

  #about-section {
    /* border: 2px solid black; */
    width: 100%;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
  }
  .about-title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
  }
  .about-title i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .about-title h2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .left-about p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 50%;
    margin: 30px 0 0 0;
    line-height: 25px;
  }
  .right-about img{
    width: 400px;
  }
  #ability {
    margin: 30px 0 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--paragraph-color);
  }
  .row {
    /* border: 2px solid black; */
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .row .skills {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
    color: var(--heading-color);
    width: 50%;
    line-height: 25px;
  }
  .row .skills i {
    margin-right: 30px;
    font-size: 30px;
    font-weight: 300;
  }
  /* about section */

  /* work section */
  #work-section h2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--heading-color);
  }
  #work-section h2 i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--btn-color);
  }

  .work-row {
    /* border: 2px solid beige; */
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    gap: 30px;
  }
  .work-row .card {
    padding: 2%;
    width: 40%;
    /* border: 2px solid red; */
    border-bottom: 5px solid var(--hover-color);
    border-radius: 2%;
  }
  .work-row .card h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(--hover-color);
    opacity: 30%;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .work-row .card .work-btn {
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  /* work section */

  /* contact section */
  .right-contact {
    display: flex;
  }
  .right-contact img {
    width: 100%;
  }
  .contact-title i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--btn-color);
  }
  .contact-title h2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--heading-color);
  }
  .left-contact p {
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 50%;
    margin: 30px 0 0 0;
    line-height: 25px;
  }
  /* contact section */

  /* bottom section */
  .details p {
    font-size: 16px;
    color: var(--hover-color);
    font-weight: 500;
  }
  /* bottom section */
}

/* breakpoints min-width-1200px */

/* media queries */
